<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Consulta de Precios de Acciones</title>
    </head>
    <body>
        <h1>Consulta de Precios de Acciones</h1>
        <form method="post" action="/consultarPrecio">
            <label for="stockCode">Código de Acción:</label>
            <input type="text" id="stockCode" name="stockCode" required>
            <button type="submit">Consultar Precio</button>
        </form>
        <a href="/historial">Ver Historial</a> <!-- Agrega este enlace -->
    </body>
</html>
